__pycache__
*-ablation*
ablation-db-*
lightning_logs
*.csv
*.log

actual_data
.DS_Store
moco/__pycache__
data/__pycache__
models/__pycache__
utils/__pycache__

*__pycache__*
*/__pycache__
figures
ablation-db
exp copy

.DS_Store
*.png

tables
results
actual_data/

plots_thesis/
plotting_utils/
plots/

logs/
temperature/

projection/
unimodal_projection.log
unimodal_temp.log
qr/
projection copy/
rerun_unimodal_100/

unimodal/
unimodal_projection/
dsbn_try/
*.zip
repr_dims_5h/
models/__pycache__/model_utils.cpython-310.pyc

big_data/
big_data_100/
big_data_200/

old_runs/

